@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Consts.AppName | @ViewData["Title"]</title>
    <style type="text/css" asp-add-nonce="true">
        html, body {
            background-color: #fff;
            font-family: 'Segoe UI', sans-serif;
        }

        section {            
            max-width: 460px;
            margin-top: 68px;
            vertical-align: middle;
            padding: 50px;
        }

        h1 {
            color: #000;
            font-weight: 100;
            font-size: 68px;
            margin-bottom: 7px;
        }

        h2 {
            color: #8d8f9a;
            font-size: 37px;
            font-weight: 100;
            margin-top: 0;
        }

        p {
            color: #000;
            font-size: 18px;
            margin-top: 0;
        }
    </style>
</head>
<body>
    <section>
        <h1>403</h1>
        <h2>Forbidden</h2>
        <p>You do not have the correct permissions to reach this application.</p>
    </section>
</body>
</html>