@model ExampleFormViewModel
<!-- Validation -->
<partial name="FormComponents/_ValidationSummary" model="ViewData.ModelState" />

<h1 class="govuk-heading-l ">
    Example form successfully completed
</h1>
