@model ExampleFormViewModel
<!-- Validation -->
<partial name="Components/_ValidationSummary" model="ViewData.ModelState" />

<h1 class="govuk-heading-l ">
    Example Form
</h1>

<!-- Todo: hide with no js -->
<div class="cookie-settings__form-wrapper">
    <form method="post">

        <partial name="FormComponents/_RadioButtonList" for="RadioQuestion" />

        <!-- Submit -->
        <button class="button govuk-button" type="submit">Submit</button>
    </form>
</div>